<div class="col-md-4 col-sm-6 fh5co-tours" data-animate-effect="fadeIn">
    <div href="#"><img src='{{imageUrl}}' alt="Free HTML5 Website Template by FreeHTML5.co"
                       class="img-responsive">
        <div class="desc">
            <span></span>
            <h3><strong>{{one_word}}</strong></h3>
            <span>{{author}}</span>
            <div style="display: flex; flex-direction: row; margin-bottom: 25px;">
                {{#ratingPos}}
                    <span class="fa fa-star checked"></span>
                {{/ratingPos}}
                {{#ratingNeg}}
                    <span class="fa fa-star"></span>
                {{/ratingNeg}}
                <!-- <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span> -->
            </div>
            <!-- <a class="btn btn-primary btn-outline" href="/spots/{{spotid}}">See experience<i
                    class="icon-arrow-right22"></i></a> -->
        </div>
    </div>
</div>