<div class="col-md-4 col-sm-6 fh5co-tours">
    <div href="#"><img src="{{imageUrl}}" class="img-responsive img-spot">
        <div class="desc">
            <span></span>
            <h3><strong>{{name}}</strong></h3>
            <span>🗺️ {{location}} Catalunia</span>
            <span>🌡️ {{temperature}} °C</span>
            <span style="margin-bottom: 15px;">{{direction}}</span>
            <a class="btn btn-primary btn-outline" href="../spot.html?id={{id}}">Details <i
                    class="icon-arrow-right22"></i></a>
        </div>
    </div>
</div>
